.App {
  text-align: center;
}

.slideContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideContainer label {
  margin: 9px;
}

.tile {
  height: 50px;
  width: 50px;
  margin: 8px;
}

.wrong {
  background-color: black
}
.correct {
  background-color: greenyellow
}
.neutral {
  background-color: #555
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
